body{
    background-color:  #4B0082;
    color: white;
}

table
{
    /*border-collapse: collapse;*/
    text-align: center;
    width:90%;
    border: 1px dashed yellow;
    color: white;
}
