body
{
    font-family: Tahoma;
    background: Crimson;
}

#baner
{
    color: white;
    text-align: center;
    height: 370px;
}

/*#mecze
{
    
}
*/
.bloki
{
    color: white;
    text-align: center;
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
}

.bloki:hover
{
    color: white;
    text-align: center;
    width: 200px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    float: left;
}


#glowny
{
    background-color: WhiteSmoke;
    height: 50px;
}

#lewy
{
    background-color: WhiteSmoke;
    height: 230px;
    width:70%;
    float: left;
}

#prawy
{
    background-color: WhiteSmoke;
    height: 230px;
    width:30%;
    text-align: right;
    float: left;
}

h2
{
    text-align: center;
    letter-spacing: 7px;
    text-decoration: capitalize;
}